@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', cursive;
    background-color: white;
}

body {
    height: 100%;
    width: 100% auto;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.home_page,
.quiz,
.submitResult {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

.btn {
    color: aliceblue;
    background-color: red;
    padding: 5px 20px;
    margin-top: 20px;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

#goback {
    margin-right: 30px;
}

#submitbtn {
    margin: 0;
}

.hidden {
    display: none;
}

#highscores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 150px 30%;
}

/* Correct or Wrong answer */
#correct-incorrect {
    margin-top: 20px;
    padding: 0 50px;
    border-top: 2px solid darkgray;
    color: darkgray;
}
/* Added list of scores */
#list li {
    list-style-position: inside;
    text-align: center;
    margin-top: 5px;
    width: 350px;
}

#list li:nth-child(odd) {
    background-color: rgb(218, 172, 172)
}

#list li:nth-child(even) {
    background-color: rgb(248, 233, 233)
}
.buttons{
    display: flex;
    justify-content: center;
}